*{
    font-family: 'Roboto', sans-serif;
}
@media all and (max-width: 500px) {
    .loading_page {
        width: 100vw;
        height: 100vh;
        background-color: blue;
        animation: transform 3s linear;
        animation-fill-mode: forwards;
        position: fixed;
        z-index: 10;
    }
    @keyframes transform {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            z-index: -1;
        }
    }
    .loading_page::after {
        display: none;
    }
    .loader {
        border-top: 10px solid #9356DC;
        border-bottom: 10px solid #FF79DA;
        border-left: 10px solid #99E2D0;
        border-right: 10px solid #99E2D0;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 3s linear;
        margin: auto;
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
        animation-fill-mode: both;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            opacity: 0;
        }
    }
    header {
        display: flex;
        justify-content: center;
    }
    .logo {
        width: 60%;
        padding: 2%;
    }
    .overview {
        background-color: #f9f5f5;
        padding-bottom: 3%;
    }
    .phone_localisation {
        display: flex;
        background-color: #f1ecec;
        border-top: 5px solid #d9d8d8;
        justify-content: center;
    }
    .localisation_button {
        padding: 4%;
    }
    .catch_line {
        font-size: 26px;
        text-align: center;
        padding: 4%;
        margin: 4%;
    }
    .catch_phrase {
        font-size: large;
        text-align: center;
        padding: 3%;
        margin: 3%;
    }
    .exploration_button{
        display: flex;
        justify-content: center;
        color: white;
        margin: 10%;
        padding: 1%;
        border-radius: 2rem;
        background: linear-gradient(#FF79DA, #9356DC );
        box-shadow: 0px 5px 5px rgba(12, 12, 12, 0.280);
        cursor: pointer;
    }
    .management_title {
        margin-left: 12px;
    }
    ol {
        padding: 0;
    }
    .choice_number {
        font-size: small;
        border-radius: 50%;
        color: white;
        background-color: #9356DC;
        padding: 5px;
        margin-left: -99%;
        position: absolute;
    }
    .choice_button {
        display: flex;
        justify-content: center;
        background-color: #f9f5f5;
        border-radius: 1rem;
        margin: 4%;
        padding: 3%;
        box-shadow: 0px 5px 5px rgba(12, 12, 12, 0.280);
        position: relative;
    }
    .choice_button:hover {
        background-color: lavender;
    }
    .choice_button:hover .icon {
        color: #9356DC;
    }
    .icon {
        margin: 18px;
        color: #656464;
    }
    main {
        background-color: #f9f5f5;
        margin-top: 4%;
        padding-top: 4%;
        padding-bottom: 13%;
    }
    .restaurant_title {
        margin: 2% 0 0 6%;
    }
    a {  
        text-decoration: none;
    }
    .restaurant {
        display: flex;
        flex-direction: column;
        background-color: white;
        position: relative;
        color: black;
        border-radius: 20px;
        width: 90%;
        justify-content: center;
        margin: 3%;
        box-shadow: 0px 5px 5px rgba(12, 12, 12, 0.280);
    }
    .new_alert {
        background-color: #99E2D0;
        color: teal;
        padding: 2px;
        width: max-content;
        position: absolute;
        top: 5%;
        right: 7%;
    }
    .restaurant_image {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .restaurant_description {
        display: flex;
        flex-direction: row;
        height: 65px;
    }
    .restaurant_quality {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 75%;
        padding: 3%;
    }
    .restaurant_name {
        margin: 0;
    }
    .restaurant_location {
        margin: 0;
    }
    .restaurant_icon {
        display: flex;
        justify-content: end;
        width: 13%;
        padding-top: 5%;
    }
    .fa-heart {
        font-size: x-large;
    }
    .fa-heart:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        transition: 1s ease-in;
    }
    @keyframes transition {
        from {
            opacity: 0;
            transform: translateX(0px);
        }
        to {
            opacity: 1;
            transform: translateX(100px);
        }
    }

    footer {
        background: #000000de;
        color: white;
        padding: 2% 0 2% 6%;
    }
    .footer_title {
        color: white;
        width: 30%;
    }
    .footer_option {
        display: flex;
        flex-direction: row;
    }
    .footer_icon {
        padding: 4% 4% 0 0;
    }
    .contact_link {
        color: white;
        display: flex;
        justify-content: left;
    }
}
@media all and (min-width: 501px) and (max-width: 2300px) {
    .loading_page {
        width: 100vw;
        height: 100vh;
        background-color: blue;
        animation: transform 3s linear;
        animation-fill-mode: forwards;
        position: fixed;
        z-index: 10;
    }
    @keyframes transform {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            z-index: -1;
        }
    }
    .loading_page::after {
        display: none;
    }
    .loader {
        border-top: 10px solid #9356DC;
        border-bottom: 10px solid #FF79DA;
        border-left: 10px solid #99E2D0;
        border-right: 10px solid #99E2D0;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 3s linear;
        margin: auto;
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
        animation-fill-mode: both;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            opacity: 0;
        }
    }
    body {
        display: flex;
        flex-direction: column;
        width: 70%;
        justify-self: center;
    }
    header {
        display: flex;
        justify-content: center;
    }
    .logo {
        width: 60%;
        padding: 2%;
    }
    .overview {
        background-color: #f9f5f5;
        padding-bottom: 3%;
    }
    .phone_localisation {
        display: flex;
        background-color: #f1ecec;
        border-top: 5px solid #d9d8d8;
        justify-content: center;
    }
    .localisation_button {
        padding: 14px;
    }
    .catch_line {
        font-size: 26px;
        text-align: center;
        padding: 4%;
        margin: 4%;
    }
    .catch_phrase {
        font-size: large;
        text-align: center;
        padding: 3%;
        margin: 3%;
    }
    .exploration_button{
        display: flex;
        justify-content: center;
        color: white;
        margin: 10%;
        padding: 1%;
        border-radius: 2rem;
        background: linear-gradient(#FF79DA, #9356DC );
        box-shadow: 0px 5px 5px rgba(12, 12, 12, 0.280);
        cursor: pointer;
    }
    .management_title {
        margin-left: 12px;
    }
    ol {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .choice_number {
        font-size: small;
        border-radius: 50%;
        color: white;
        background-color: #9356DC;
        padding: 5px;
        margin-left: -99%;
        position: absolute;
    }
    .choice_button {
        display: flex;
        justify-content: center;
        background-color: #f9f5f5;
        border-radius: 1rem;
        margin: 4%;
        padding: 3%;
        box-shadow: 0px 5px 5px rgba(12, 12, 12, 0.280);
        position: relative;
    }
    .choice_button:hover {
        background-color: lavender;
    }
    .choice_button:hover .icon {
        color: #9356DC;
    }
    .icon {
        margin: 18px;
        color: #656464;
    }
    main {
        background-color: #f9f5f5;
        margin-top: 4%;
        padding-top: 4%;
        padding-bottom: 13%;
    }
    .restaurant_title {
        margin: 2% 0 0 6%;
    }
    a {  
        text-decoration: none;
    }
    .restaurant {
        display: flex;
        flex-direction: column;
        background-color: white;
        position: relative;
        color: black;
        border-radius: 20px;
        width: 90%;
        justify-content: center;
        margin: 3%;
        box-shadow: 0px 5px 5px rgba(12, 12, 12, 0.280);
    }
    .restaurant_card {
        display: flex;
        flex-direction: column;
    }
    .new_alert {
        background-color: #99E2D0;
        color: teal;
        padding: 2px;
        width: max-content;
        position: absolute;
        top: 5%;
        right: 7%;
    }
    .restaurant_image {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .restaurant_description {
        display: flex;
        flex-direction: row;
        height: 65px;
    }
    .restaurant_quality {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 75%;
        padding: 10px;
    }
    .restaurant_name {
        margin: 0;
    }
    .restaurant_location {
        margin: 0;
    }
    .restaurant_icon {
        display: flex;
        justify-content: end;
        padding-top: 20px;
    }
    .fa-heart {
        font-size: x-large;
    }
    .fa-heart:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        transition: 1s ease-in;
    }
    @keyframes transition {
        from {
            opacity: 0;
            transform: translateX(0px);
        }
        to {
            opacity: 1;
            transform: translateX(100px);
        }
    }

    footer {
        background: #000000de;
        color: white;
        padding: 2% 0 2% 6%;
    }
    .footer_title {
        color: white;
        width: 30%;
    }
    .footer_option {
        display: flex;
        flex-direction: row;
    }
    .footer_icon {
        padding: 16px 11px 0 0;
    }
    .contact_link {
        color: white;
        display: flex;
        justify-content: left;
    }
    
}
