*{
    font-family: 'Roboto', sans-serif;
}
@media all and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo_backtraker {
        display: flex;
    }
    .fa-arrow-left {
        padding: 4%; 
        color: black;
    }
    .menu_logo {
        width: 50%;
        padding-left: 20%;
    }
    a {
        text-decoration: none;
    }
    .menu_image {
        width: 100%;
    }
    .menu {
        display: flex;
        justify-content: space-between;
    }
    .menu_name {
        font-family: Shrikhand;
        padding-left: 5%;
    }
    .menu_icon {
        padding: 24px;
        font-size: x-large;
    }
    .clicked {
        opacity: 0;
        position: absolute;
    }
    .clicked:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        transition: 1s ease-in;
        opacity: 1;
    }
    @keyframes transition {
        from {
            opacity: 0;
            transform: translateX(0px);
        }
        to {
            opacity: 1;
            transform: translateX(100px);
        }
    }
    .no_clicked:hover {
        opacity: 0;
    }
    main {
        position: relative;
        background-color: #f9f5f5;
        border-radius: 3rem 3rem 0 0;
        padding-bottom: 5%;
        margin-top: -13%;
    }
    .menu_title {
        border-bottom: #99E2D0 3px solid;
        font-weight: 100;
        width: 13%;
        margin-left: 3%;
    }
    .food_box {
        display: flex;
        margin: 3%;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(12, 12, 12, 0.280);
        cursor: pointer;
        overflow: hidden;
    }
    .food_box:nth-child(2) {
        animation: apparition linear 300ms;
    }
    .food_box:nth-child(3) {
        animation: apparition linear 600ms;
    }
    .food_box:nth-child(4) {
        animation: apparition linear 900ms;
    }
    .food_box:nth-child(5) {
        animation: apparition linear 1200ms;
    }
    @keyframes apparition {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .food_box:hover .check_icon {
        margin-right: 0;
        transition: 1s;
    }
    .food_element {
        width: 80%;
        padding-left: 2%;
        overflow: hidden;
    }
    .food_name, .food_addition {
        margin: 5px;
        padding: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .food_addition {
        font-weight: 300;
    }
    .food_price {
        padding: 10% 1% 0;
    }
    .check_icon {
        display: inline-block;
        width: 95px;
        margin-left: 10%;
        margin-right: -95px;
        background-color: #99E2D0;
        border-radius: 0 1rem 1rem 0;
        color: white;
        font-size: x-large;
    }
    .fa-check-circle {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .food_box:hover .fa-check-circle {
        animation: ro 1s linear;
    }
    @keyframes ro {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .order_button {
        display: flex;
        justify-content: center;
        color: white;
        margin: 13%;
        padding: 1%;
        border-radius: 2rem;
        background: linear-gradient(#FF79DA, #9356DC );
        box-shadow: 0 0 1rem gray;
        cursor: pointer;
    }
    .order_button:hover {
        background: linear-gradient(#9356DC, #FF79DA);
    }
    footer {
        background: #000000de;
        color: white;
        padding: 2% 0 2% 6%;
    }
    .footer_title {
        color: white;
        font-size: larger;
        font-family: Shrikhand;
    }
    .footer_option {
        display: flex;
        flex-direction: row;
    }
    .footer_icon {
        padding: 5% 4% 0 0;
    }
    .contact_link {
        color: white;
        display: flex;
        justify-content: left;
    }
}

@media all and (min-width: 501px) and (max-width: 2300px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo_backtraker {
        display: flex;
        justify-content: center;
    }
    .fa-arrow-left {
        margin-top: 10px;
        color: black;
        font-size: x-large;
    }
    .menu_logo {
        width: 100%;
        padding: 2%;
    }
    a {
        text-decoration: none;
    }
    .menu_image {
        position: relative;
        width: 70%;
        height: 85rem;
        border-radius: 3rem;
        object-fit: cover;
    }
    .menu {
        display: flex;
        justify-content: space-between;
    }
    .menu_name {
        font-family: Shrikhand;
        padding-left: 5%;
    }
    .menu_icon {
        padding: 24px;
        font-size: x-large;
    }
    .clicked {
        opacity: 0;
        position: absolute;
    }
    .clicked:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        transition: 1s ease-in;
        opacity: 1;
    }
    @keyframes transition {
        from {
            opacity: 0;
            transform: translateX(0px);
        }
        to {
            opacity: 1;
            transform: translateX(100px);
        }
    }
    .no_clicked:hover {
        opacity: 0;
    }
    main {
        position: absolute;
        background-color: #f9f5f5;
        border-radius: 3rem;
        padding-bottom: 5%;
        left: 50%;
        top: 83%;
        transform: translate(-50%, -50%);
        width: 50%;
        max-width: 582px;
        max-height: 945px;
    }
    .menu_card {
        display: flex;
        flex-direction: column;
    }
    .menu_title {
        border-bottom: #99E2D0 3px solid;
        font-weight: 100;
        width: 13%;
        margin-left: 3%;
    }
    .food_box {
        display: flex;
        margin: 3%;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(12, 12, 12, 0.280);
        cursor: pointer;
        overflow: hidden;
    }
    .food_box:nth-child(2) {
        animation: apparition linear 300ms;
    }
    .food_box:nth-child(3) {
        animation: apparition linear 600ms;
    }
    .food_box:nth-child(4) {
        animation: apparition linear 900ms;
    }
    .food_box:nth-child(5) {
        animation: apparition linear 1200ms;
    }
    @keyframes apparition {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .food_box:hover .check_icon {
        margin-right: 0;
        transition: 1s;
    }
    .food_element {
        width: 80%;
        padding-left: 2%;
        overflow: hidden;
    }
    .food_name, .food_addition {
        margin: 5px;
        padding: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .food_addition {
        font-weight: 300;
    }
    .food_price {
        padding: 40px 1% 0;
    }
    .check_icon {
        display: inline-flex;
        width: 95px;
        margin-left: 12%;
        margin-right: -95px;
        background-color: #99E2D0;
        border-radius: 0 1rem 1rem 0;
        color: white;
        font-size: x-large;
        justify-content: center;
        align-items: center;
    }
    .fa-check-circle {
        display: flex;
        justify-content: center;
    }
    .food_box:hover .fa-check-circle {
        animation: ro 1s linear;
    }
    @keyframes ro {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .order_button {
        display: flex;
        justify-content: center;
        color: white;
        margin: 13%;
        padding: 1%;
        border-radius: 2rem;
        background: linear-gradient(#FF79DA, #9356DC );
        box-shadow: 0 0 1rem gray;
        cursor: pointer;
    }
    .order_button:hover {
        background: linear-gradient(#9356DC, #FF79DA);
    }
    footer {
        background: #000000de;
        color: white;
        padding: 2% 0 2% 6%;
    }
    .footer_title {
        color: white;
        font-size: larger;
        font-family: Shrikhand;
    }
    .footer_option {
        display: flex;
        flex-direction: row;
    }
    .footer_icon {
        padding: 17px 12px 0 0;
    }
    .contact_link {
        color: white;
        display: flex;
        justify-content: left;
    }
}