*{
    font-family: 'Roboto', sans-serif;
}
@media all and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo_backtraker {
        display: flex;
    }
    .fa-arrow-left {
        padding: 4%;
    }
    .menu_logo {
        width: 50%;
        padding-left: 20%;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .menu_image {
        width: 100%;
    }
    .menu {
        display: flex;
    }
    .menu_name {
        font-family: Shrikhand;
        padding-left: 5%;
    }
    .menu_icon {
        padding: 7%;
        font-size: x-large;
    }
    main {
        background-color: lightgray;
        border-radius: 3rem 3rem 0 0;
        padding-bottom: 5%;
        margin-top: -10%;
        animation: apparition .5s ease-in;
    }
    @keyframes apparition {
        from {
            opacity: 0;
            transform: translateY(-100px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .menu_title {
        border-bottom: #99E2D0 3px solid;
        font-weight: 100;
    }
    .food_box {
        display: flex;
        margin: 3%;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0 1rem gray;
        cursor: pointer;
        animation: apparition 1s ease-in .25s;
        overflow: hidden;
    }
    @keyframes apparition {
        from {
            opacity: 0;
            transform: translateY(-100px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .food_box:hover .check_icon {
        margin-right: 0;
        transition: 1s;
    }
    .food_element {
        width: 80%;
        padding-left: 2%;
    }
    .food_name, .food_addition {
        margin: 5px;
        padding: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .food_price {
        padding-left: 4%;
        padding-top: 10%;
    }
    .check_icon {
        display: inline-block;
        width: 95px;
        margin-right: -95px;
        background-color: #99E2D0;
        border-radius: 0 1rem 1rem 0;
        color: white;
        font-size: x-large;
    }
    .fa-check-circle {
        animation: ro 2s linear;
    }
    @keyframes ro {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .order_button {
        display: flex;
        justify-content: center;
        color: white;
        margin: 13%;
        padding: 1%;
        border-radius: 2rem;
        background: linear-gradient(#FF79DA, #9356DC );
        box-shadow: 0 0 1rem gray;
        cursor: pointer;
    }
    footer {
        background: #000000de;
        color: white;
        padding: 2% 0 2% 6%;
    }
    .footer_title {
        color: white;
        width: 30%;
    }
    .footer_option {
        display: flex;
        flex-direction: row;
    }
    .footer_icon {
        padding: 5% 4% 0 0;
    }




