*{
    font-family: 'Roboto', sans-serif;
}
@media all and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
    }
    .logo_backtraker {
        display: flex;
        justify-content: space-between;
    }
    .fa-arrow-left {
        margin: 4%; 
        color: black;
    }
    main {
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-color: #f9f5f5;
    }
    .contact {
        margin: 5%;
    }
    a {
        text-decoration: none;
    }
    footer {
        background: #000000de;
        color: white;
        padding: 2% 0 2% 6%;
    }
    .footer_title {
        color: white;
        font-size: larger;
        font-family: Shrikhand;
    }
    .footer_option {
        display: flex;
        flex-direction: row;
    }
    .footer_icon {
        padding: 5% 4% 0 0;
    }
    .contact_link {
        color: white;
        display: flex;
        justify-content: left;
    }
}
@media all and (min-width: 501px) and (max-width: 2300px) {
    body {
        width: 80%;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    .logo_backtraker {
        display: flex;
        justify-content: space-between;
    }
    .fa-arrow-left {
        margin: 4%; 
        color: black;
    }
    main {
        justify-content: center;
        display: flex;
        flex-direction: column; 
        background-color: #f9f5f5;
    }
    .contact {
        margin: 5%;
    }
    a {
        text-decoration: none;
    }
    footer {
        background: #000000de;
        color: white;
        padding: 2% 0 2% 6%;
    }
    .footer_title {
        color: white;
        font-size: larger;
        font-family: Shrikhand;
    }
    .footer_option {
        display: flex;
        flex-direction: row;
    }
    .footer_icon {
        padding: 15px 12px 0 0;
    }
    .contact_link {
        color: white;
        display: flex;
        justify-content: left;
    }
}